.progress-bar-div {
    display: none;
    position: absolute;
    width: 100vw;
    height: 25vh;
    left: 0vw;
    top: 10vh;
}

.progress-bar-number {
    position: absolute;
    width: 4vw;
    height: 3vh;
    left: 33vw;
    top: 0vh;
    font-size: 2vh;
}

.progress-bar-outer {
    position: absolute;
    top: 10vh;
    width: 70vw;
    height: 3vh;
    left: 15vw;
    border: 0.25vh solid black;
}

.progress-bar {
    position: absolute;
    height: 3vh;
    width: 0vw;
    left: 0;
    top: 0;
    background-color: lightblue;
}

.dfu-finish-btn {
    position: absolute;
    width: 25vw;
    left: 37.5vw;
    height: 4vh;
    top: 20vh;
    border: 0.5vh solid mediumblue;
    border-radius: 1.5vh;
    background-color: lightblue;
    color: mediumblue;
    font-size: 1.75vh;
    font-weight: bold;
    display: none;
}