.scan-btn {
    position: absolute;
    height: 5vh;
    width: 30vw;
    top: 20vh;
    left: 35vw;
    font-size: 3vh;
    background-color: lightblue;
    border: 0.5vh solid darkblue;
    border-radius: 10vh;
}